<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>$(THREAD_DISPLAY_NAME)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(THREAD_DISPLAY_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>UIAppFonts</key>
	<array>
		<string>CormorantGaramond-Light.ttf</string>
		<string>CormorantGaramond-Regular.ttf</string>
		<string>CormorantGaramond-Medium.ttf</string>
		<string>CormorantGaramond-SemiBold.ttf</string>
		<string>CormorantGaramond-Bold.ttf</string>
		<string>DMSans-Regular.ttf</string>
		<string>DMSans-Medium.ttf</string>
		<string>DMSans-SemiBold.ttf</string>
		<string>DMSans-Bold.ttf</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>ThreadAggregateAPIKey</key>
	<string>$(THREAD_AGGREGATE_API_KEY)</string>
	<key>ThreadAggregateBaseURL</key>
	<string>$(THREAD_AGGREGATE_BASE_URL)</string>
	<key>ThreadAnalyticsAPIKey</key>
	<string>$(THREAD_ANALYTICS_API_KEY)</string>
	<key>ThreadAnalyticsBaseURL</key>
	<string>$(THREAD_ANALYTICS_BASE_URL)</string>
	<key>ThreadAnalyticsBuildChannel</key>
	<string>$(THREAD_ANALYTICS_BUILD_CHANNEL)</string>
	<key>ThreadEnableICloudSync</key>
	<string>$(THREAD_ENABLE_ICLOUD_SYNC)</string>
	<key>ThreadEnableRemotePush</key>
	<string>$(THREAD_ENABLE_REMOTE_PUSH)</string>
	<key>ThreadICloudContainerIdentifier</key>
	<string>$(THREAD_ICLOUD_CONTAINER_IDENTIFIER)</string>
	<key>ThreadPushAPIKey</key>
	<string>$(THREAD_PUSH_API_KEY)</string>
	<key>ThreadPushBaseURL</key>
	<string>$(THREAD_PUSH_BASE_URL)</string>
	<key>ThreadResetProgressOnLaunch</key>
	<string>$(THREAD_RESET_PROGRESS_ON_LAUNCH)</string>
	<key>ThreadPrivacyPolicyURL</key>
	<string>$(THREAD_PRIVACY_POLICY_URL)</string>
	<key>ThreadAppStoreURL</key>
	<string>$(THREAD_APP_STORE_URL)</string>
	<key>ThreadSupportEmail</key>
	<string>$(THREAD_SUPPORT_EMAIL)</string>
	<key>ThreadSupportURL</key>
	<string>$(THREAD_SUPPORT_URL)</string>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UILaunchScreen</key>
	<dict/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
</dict>
</plist>
